.bgimg{
    background: linear-gradient(357deg, rgb(200 0 255 / 31%), rgb(0 128 255 / 31%)), url(../images/bg.gif);
    background-size: 100%;
    background-attachment: fixed;
    width: 100%;
    height: 550px;
    background-repeat: no-repeat;
    
}
nav{
    background: rgb(2,0,36);
    background: linear-gradient(45deg, rgba(0, 238, 255, 0.842), rgba(255, 0, 149, 0.651));
}
.sample {
    width: 200px;
    height: 200px;
    overflow: hidden;
    margin-left: 480px;
}
.sample img{ 
        width: 100%;
        height: 100%;
        border-radius: 100%;
        border: 5px solid #ff006a;
        -o-object-fit: cover;
        object-fit: cover;
        -webkit-transition: 0.2s;
        transition: 0.2s;
        display: inline-block;
     
}
@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
.headerset{
    padding-top: 350px;
    box-sizing: border-box;
   
}
.playbox{
    background-color: red;
    height: 100px;
    width: 100px;
  margin-top: 20px;
}
.blur {
    backdrop-filter: blur(2px);
    width: 100%;
    /* border-radius: 20px; */
    height: auto;
    background: transparent;
    position: absolute;
    top: 230px;
    left: -8px;
}
.headerset h2{
    font-size: 42px;
}
.headerset h1{
    font-size: 62px;
    }
/* audio::-webkit-media-controls {
    display: none;
} */


/*................ aboutus................ */

.aboutus{
    padding: 50px 0px 50px;
    height: auto;
}
.aboutus h1{
    font-size: 50px;
    font-weight: bold;
}
.aboutus a{
    text-decoration: none;
    color: #000;
}
.aboutus a:hover{
    text-decoration: none;
    color: #000;

}
.aboutus .animate{
    animation-iteration-count:10;
    animation-delay: 2s;
}
.rowsetting{
    margin:20px 0px !important;
}
.imgsection{
    border-radius: 50%;
    height: 100px;
    width: 100px;
}
.fa-music,.fa-users,.fa-video-camera  {
    margin: 25px;
}
.rowsetting h2{
    margin-top: 20px;
    font-weight: bold;
    font-size: 30px;
}
.rowsetting p{
    padding: 10px;
    color: #6c757d;
}

/* ----------------audio --------------------------*/
.audio{
    height: 100%;
    width: 100%;
    padding: 50px 0px 50px;
}
.audio h1{
    font-size: 50px;
    font-weight: bold;
}
.card{
    margin-top: 40px;
}
.audio .card img{
        width: 50%;
        height: 50%;
        margin-top: 20px;
        border-radius: 100%;
        border: 5px solid #ff006a;
        -o-object-fit: cover;
        object-fit: cover;
        -webkit-transition: 0.2s;
        transition: 0.2s;
        display: inline-block;
}
.card-title{
    font-family: cursive;
    font-size: 2rem;
    color: #fc0093;
    text-shadow: 1px 1px 2px black;
}
 #Progress_elements {
    padding: 10px 0px;
}
#Progress_elements #Progressduration {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
 #Progress_elements #ProgressMeterContainer {
    width: 90%;
    height: 7px;
    background: linear-gradient(to left, #00eeff, #ff006a);
    border-radius: 50px;
    margin: 20px auto 5px auto;
    cursor: pointer;
}

#MusicControls{
    margin-left: 1rem;
}
.control{
    display: flex;
    flex-direction: row;
}
#PausePlay1{    margin-right: 12rem;}
/* ----------------video --------------------------*/
.video{
    height: auto;
    width: 100%;
    padding: 50px 0px 50px;
}
.video h1{
    font-size: 50px;
    font-weight: bold;
}
.video .card{
    margin-top: 40px;
}
.video>.card>img{
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    display: inline-block;
}
.video .card .ratio{
    height: 100%;
    width: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        -webkit-transition: 0.2s;
        transition: 0.2s;
        display: inline-block;
}
.video .card-title{
    font-family: cursive;
    font-size: 2rem;
    color: #fc0093;
    text-shadow: 1px 1px 2px black;
}
.link{
    
}


/* ------------our team */
.team{
    height: auto;
    padding: 100px 0px 60px;
    width: 100%;
}
.team h1{
    font-size: 50px;
    font-weight: bold;
}
.teamsetting{
    margin-top: 50px !important;
}

/* contactus */



/* footer */
.footer{
    height: 50px;
}
.footer h6{
    font-size: 20px;
    line-height: 50px;
}


/* -------Responsive--------------- */
@media(min-width:992px){
    .bgimg{
        height: 500px;
    }

}
@media(min-width:768px) and (max-width:991px){
    .bgimg{
        height: 390px;
    }

}
@media(min-width:575px) and (max-width:767px){
    .bgimg{
        height: 310px;
    }
    .blur{
        top: 170px;
    }
    .headerset h2 {
        font-size: 22px;
    }
    .headerset h1 {
        font-size: 42px;
    }
    .aboutus {
        padding: 50px 0px 60px;
        height: 1100px;
    }
    .rowsetting {
        margin: 40px 0px !important;
    }
}
@media(min-width:480px) and (max-width:574px){
    .bgimg{
        height: 270px;
    }
    .blur{
        top: 90px;
    }
    .headerset h2 {
        font-size: 22px;
    }
    .headerset h1 {
        font-size: 42px;
    }
    .aboutus {
        padding: 50px 0px 60px;
        height: 1100px;
    }
    .rowsetting {
        margin: 40px 0px !important;
    }
}
@media only screen and (max-width: 480px) {
    .bgimg{
        height: 190px;
    }
    .blur{
        top: 90px;
    }
    .headerset h2 {
        font-size: 16px;
    }
    .headerset h1 {
        font-size: 24px;
    }
  }
  @media only screen and (device-width: 320px) {
    .bgimg{
        height: 190px;
    }
    .blur{
        top: 80px;
    }
    .headerset h2 {
        font-size: 16px;
    }
    .headerset h1 {
        font-size: 24px;
    }
  } 